<h1>Select a consultation</h1>
<%= link_to 'or add a new consultation', new_consultation_path %>
<table class="table table-striped">
  <th>Name</th>
  <th>Type</th>
  <th>Description</th>
  <% @consultations.each do |consultation| %>
    <tr>
      <td><%= link_to consultation.name, consultation_submissions_path(consultation) %></td>
      <td><%= consultation.consultation_type %></td>
      <td><%= consultation.description %></td>
    </tr>
  <% end %>
</table>
