<h1><%= @consultation.name %></h1>
<p>Type: <%= @consultation.consultation_type %> </p>
<p><%= link_to('Taxonomy', @consultation.taxonomy) %></p>
<p><%= link_to('Submissions', consultation_submissions_path(@consultation)) %></p>
