<div class="submission__taggable-text js-tagged-submission">
  <strong><%= survey_answer.survey_question.question %></strong>
  <%= tagged_survey_answer(@marked_up_sa, survey_answer).html_safe %>
</div>
