<div>
  <%= tag.name %>
  <%= link_to 'x', [tag.taxonomy, tag], method: :delete, data: { confirm: 'Are you sure you want to delete this tag?' } %>
</div>
<ul>
  <% tag.children.each do |tag| %>
    <li class="c-tag">
      <%= render partial: tag %>
    </li>
  <% end %>
</ul>
