// Bootstrap Colour Overrides

$primary: #2185d0;
$secondary: #767676;
$success: #21ba45;
$danger: #db2828;
$warning: #fbbd08;
$info: #00b5ad;
$link-color: #2849fb;

// Custom Colours

$orange: #f2711c;
$olive: #b5cc18;
$violet: #6435c9;
$purple: #a333c8;
$pink: #e03997;
$brown: #a5673F;
$black: #1b1c1d;
