.selected-tag {
  display: flex;
  font-weight: bold;
  padding: 0.5rem;

  &__delete {
    @extend .btn;
    color: $danger;
    margin-left: auto;
    padding-left: 0.5rem;
  }

  &__text {
    border-left: 4px solid lighten($secondary, 20);
    padding-left: 0.5em;
  }
}
