<h2>
  Edit <%= @taxonomy.consultation.name %>
</h2>

<%= render partial: "tags/form", locals: {tag: Tag.new, taxonomy: @taxonomy} %>

<section class="col list-group">
  <h2>Tags</h2>
  <% @taxonomy.tags.top_level.each do |tag| %>
    <div class="row align-items-start">
      <%= render partial: tag, locals: { tag_colour: tag.colour_number } %>
    </div>
  <% end %>
</section>
