<h2>
  <%= @taxonomy.consultation.name %>
</h2>

<%= link_to 'New tag', new_taxonomy_tag_path(taxonomy_id: @taxonomy.id) %>

<section class="col">
  <h2>Tags</h2>
    <% @taxonomy.tags.top_level.each do |tag| %>
      <div class="row">
        <%= render partial: tag %>
      </div>
    <% end %>
  </ul>
</section>
