<h2>
  Taxonomy for <%= @taxonomy.consultation.name %>
</h2>
<%= render partial: "export_import", locals: { taxonomy: @taxonomy } %>

<section class="col list-group">
  <%= render partial: "tags/form", locals: {tag: Tag.new, taxonomy: @taxonomy} %>
  <% @taxonomy.tags.top_level.each do |tag| %>
    <div class="row align-items-start">
      <%= render partial: tag, locals: { tag_colour: tag.colour_number } %>
    </div>
  <% end %>
</section>
