<%# Notice %>
<% if flash[:notice].present? || notice.present? %>
  <div class="alert alert-success"><%= flash[:notice] || notice %></div>
<% end %>

<%# Alert %>
<% if flash[:alert].present? || alert.present? %>
  <div class="alert alert-danger"><%= flash[:alert] || alert %></div>
<% end %>
