<%# Notice %>
<% if flash[:notice].present? || notice.present? %>
  <div class="alert alert-success"><%= flash[:notice] || notice %></div>
<% end %>

<%# Alert %>
<% if flash[:alert].present? || alert.present? %>
  <div class="alert alert-danger">
    <%= flash[:alert] || alert %>
    <% if flash[:error_list].present? %>
      <ul>
        <% flash[:error_list].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
