<div class="js-consultation-user-success alert alert-success alert-dismissible fade show" role="alert">
  <span>Successfully <%= action_performed %> <%= user.email %></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
